<html>
  <head>
    <title>Blog Application</title>
  </head>
  <body>
    <h1>Blog Application</h1>
    <form action="/blog/" method="GET">
      <input type="text" name="q"
             {% if query %}value="{{ query }}"{% endif %}/>
      <input type="submit" value="Search" />
    </form>
    <hr>
    {% block body %}{% endblock %}
    <hr>
    <center>
      <small>
        <a href="/blog/">Entries</a> |
        <a href="/authors/">Authors</a> |
        <a href="/tags/">Tags</a> |
        <a href="/admin/">Admin</a>
      </small>
    </center>
  </body>
</html>
